<!DOCTYPE html> <html>     
<head>        
 <meta charset="utf-8">
<title>Devices</title>         
<meta name="viewport" content="width=device-
width, initial-scale=1.0">         
<!-- <link href="../css/main.css" rel="stylesheet">         
<link href="../css/responsive.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>     
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>     
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->     
<link href="css/main.css" rel="stylesheet">     
<link href="css/custom.css" rel="stylesheet">     
<link href="css/responsive1.css" rel="stylesheet">     
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">    
<script src="bootstrap/js/angular.min.js"></script>
<script src="bootstrap/js/jquery-3.1.1.min.js"></script>     
<script src="bootstrap/js/bootstrap.min.js"></script>     
</head>     
<body>
<div class="container-fluid vleleft">             
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">                 
<nav class="navbar"/>
	<div class="navbar-header logohead">                             
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">                                 
	<span class="sr-only"></span>
	<span class="icon-bar"></span>                                 
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>                             
	</button>
	<a href="#" class="pull-left logo"><strong>VLE</strong> PAYG SYSTEM</a>
	</div>                         
	<div class="collapse navbar-collapse" id="leftnav">                             
	<ul class="nav navbar-nav">
	<li><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>                                 
	<li><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>                                 
	<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li> 
	<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>                               
	<li class="active"><a href="#/card"><img src="images/settings.png"> <span>Scratchcard</span></a></li>

	</ul>                         
	</div>                 
	</nav>             
	</div>
	<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
		<div class="userinfo user-nav clearfix">                     
		<ul class="list-group pull-right list-inline">
		<li class="list-group-item">SkipperSeil</li>                         
		<li class="list-group-item"><img src="images/logout.png" ng-click="logout()"></li> 
		</ul>
	</div>                     
		<div class="pagehead clearfix">
		<span class="pull-left">Payments</span>
		<!--  <a ng-click="" class="btn btn-primary custom-btn pull-right">Export to Excel</a> -->
		</div>                     
		<div class="pagebody clearfix"> 
		<!-- <pre>{{paymentlist}}</pre>  -->                       
		<div class="customtable col-md-10 col-md-offset-1 col-md-offset-right-1 table-responsive">
		<table class="table table-striped">                                 
		<thead>
			<tr>
				<th>S.No</th>
				<th>Scartch Card Number</th>
				<th>Card Duration</th>
				<th>Cost</th>
				<th>Status</th>
				<!-- <th>Action</th> -->
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cardlist in cardlist">
					<td>{{$index+1}}</td>
					<td>Scratch Card {{cardlist.scartchcardno}}</td>
					<td>{{cardlist.cardduration}} Days</td>
					<td>{{cardlist.cost}}</td>
					<td><span class="cardstatus" ng-class="{'backactive_label':cardlist.shsnumber == 'null'}">Active</span> <span class="cardstatus" ng-class="{'backactive_label':cardlist.shsnumber !== 'null'}">Redeemed</span></td>
					<!-- <td><button data-toggle="modal" data-target="#cardpopup" class="usebtn"  ng-class="{'backactive_label':cardlist.shsnumber == 'null'}" ng-click="cardclick(cardlist.scartchcardno);">Use</button> </td> -->
				</tr>
			</tbody>

		</table>
		</div>
		</div>
		</div>

		<!-- //Add Sub Assessment Model -->
<div class="modal fade" id="cardpopup" role="dialog">
    <div class="modal-dialog">
  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Scratch Card</h4>
        </div>
        <div class="modal-body">
         <form name="addform" novalidate="novalidate" class="addform">
                <div class="form-group" ng-class="
                  { 'has-error': !deviceform.shsnumber.$valid && deviceform.$submitted,
                    'has-success': deviceform.shsnumber.$valid && deviceform.$submitted 
                  }" >
                  <label class="control-label" for="shsnumber">Your SHS Number</label>
                  <input type="text" name="shsnumber" class="form-control" ng-model="carddetails.shsnumber" required />
                </div>
                <div class="form-group" ng-class="
                  { 'has-error': !deviceform.shsmobilenumber.$valid && deviceform.$submitted,
                    'has-success': deviceform.shsmobilenumber.$valid && deviceform.$submitted 
                  }" >
                  <label class="control-label" for="shsmobilenumber">Your Mobile Number</label>
                  <input type="text" name="phonenumber" class="form-control" ng-model="carddetails.phonenumber" required />
                  
                </div>
                <div class="form-group" ng-class="
                  { 'has-error': !deviceform.shsmobilenumber.$valid && deviceform.$submitted,
                    'has-success': deviceform.shsmobilenumber.$valid && deviceform.$submitted 
                  }" >
                  <label class="control-label" for="scartchcardno">Scratch Card number</label>
                  <input type="text" name="scartchcardno" class="form-control" ng-model="clickedcardid" ng-value="cardlist.scartchcardno" disabled/>
                  <span>{{cardlist.scartchcardno}}</span>
                </div>
                <div class="form-group form-btn-group">
                  <button type="submit" name="shssubmit" class="nav-btn green-nav-btn form-btn" data-dismiss="modal" ng-click="useCard(carddetails,clickedcardid)"> Recharge</button>
                </div>

              </form>
        </div>
      </div>
    </div>
  </div>

		</div>
	</body>
</html>
