


<div class="container-fluid padding0 main_bg">
        <div class="loginnav"><a href="#" class="pull-left logo"><strong>VLE</strong> PAYG SYSTEM</a><a href="#" class="pull-right signupbtn">Sign Up</a></div>
            
            <div class="pagebody clearfix">
                        <div class="loginform">
                        <div class="companylogos clearfix">
                            <div class="pull-left"><img src="images/vlelogo.png"/></div>
                            <div class="pull-right"><img src="images/skippersail.png"/></div>
                        </div>
                        <div class="clearfix"></div>
                        <form class="form form-horizantal">
                                <div class="form-group">
                                    <label class="control-label" for="username">User Name</label>
                                    <input type="text" id="username" ng-model="userId" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="userpassword">Password</label>
                                    <input type="text" id="userpassword" ng-model="password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="button"  ng-click="Login()" class="form-control btn-primary input-primary custom-btn" value="Submit"/>
                                </div>
                            </form>
                            <span>{{error}}</span>
                        </div>
                    </div>
        </div>