<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Devices</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link href="../css/main.css" rel="stylesheet">
		<link href="../css/responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link href="../css/main.css" rel="stylesheet">
	<link href="../css/custom.css" rel="stylesheet">
    <link href="../css/responsive1.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="../bootstrap/js/angular.min.js"></script>
    <script src="../bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid vleleft">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">
				<nav class="navbar"/>
						<div class="navbar-header logohead">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">
								<span class="sr-only"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#" class="pull-left logo"><strong>VLE</strong> PAYG SYSTEM</a>
						</div>
						<div class="collapse navbar-collapse" id="leftnav">
							<ul class="nav navbar-nav">
								<li><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>
								<li class="active"><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>
								<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li>
								<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>
							</ul>
						</div>
				</nav>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
				<div class="userinfo user-nav clearfix">
					<ul class="list-group pull-right list-inline">
						<li class="list-group-item">SkipperSail</li>
						<li class="list-group-item"><img src="images/logout.png" ng-click="logout()"></li>
					</ul>
				</div>
					<div class="pagehead clearfix">
						<span class="pull-left"> <a href="#/devices"><img src="images/back.png" /></a>Add New SHS</span>
						<!-- <a href="#" class="btn btn-primary custom-btn pull-right">Add New SHS</a> -->
					</div>
					<div class="pagebody clearfix" ng-controller="addDeviceSubmitCtrl">
						<div class="customform col-md-8 col-md-offset-2 col-md-offset-right-2 col-sm-12">
							<form name="deviceform" ng-submit="addDeviceSubmit(deviceform.$valid)" novalidate="novalidate">
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsnumber.$valid && (!deviceform.$pristine || deviceform.$submitted),
										'has-success': deviceform.shsnumber.$valid && (!deviceform.$pristine || deviceform.$submitted)	
									}" >
									<label class="control-label" for="shsnumber">Device Serial Number</label>
									<input type="number" name="shsnumber" class="form-control" ng-model="contact.shsnumber" ng-minlength="2" ng-maxlength="8" required />
									<p class="help-block" ng-show="deviceform.shsnumber.$error.required && (!deviceform.$pristine || deviceform.$submitted)">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsnumber.$error.number && (!deviceform.$pristine || deviceform.$submitted)">Please Enter Valid Number</p>
									<!-- <pre>Validation {{ deviceform.shsnumber.$error | json }}</pre>
									<pre>Field Valid ? {{ deviceform.shsnumber.$valid }}</pre>
									<pre>Field Pristine ? {{ deviceform.$pristine }}</pre>
									<pre>Field Submitted ? {{ deviceform.$submitted }}</pre> -->
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsmobilenumber.$valid && (!deviceform.$pristine || deviceform.$submitted),
										'has-success': deviceform.shsmobilenumber.$valid && (!deviceform.$pristine || deviceform.$submitted)	
									}" >
									<label class="control-label" for="shsmobilenumber">Device Mobile Number</label>
									<input type="number" name="shsmobilenumber" class="form-control" ng-model="contact.shsmobilenumber" ng-minlength="2" ng-maxlength="8" required />
									<p class="help-block" ng-show="deviceform.shsmobilenumber.$error.required && (!deviceform.$pristine || deviceform.$submitted)">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsmobilenumber.$error.number && (!deviceform.$pristine || deviceform.$submitted)">Please Enter Valid Number</p>
									
								</div>
								 <div class="form-group" ng-class="
									{	'has-error': !deviceform.shsdevicetype.$valid && (!deviceform.$pristine || deviceform.$submitted),
										'has-success': deviceform.shsdevicetype.$valid && (!deviceform.$pristine || deviceform.$submitted)	
									}" >
									<label class="control-label" for="shsdevicetype">Device Type</label>
									<select type="text" name="shsdevicetype" class="form-control" ng-model="contact.shsdevicetype" required><option>Model1</option><option>Model2</option></select>
									<p class="help-block" ng-show="deviceform.shsdevicetype.$error.required && (!deviceform.$pristine || deviceform.$submitted)">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsdevicetype.$error.number && (!deviceform.$pristine || deviceform.$submitted)">Please Select Option</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shspaymenttype.$valid && (!deviceform.$pristine || deviceform.$submitted),
										'has-success': deviceform.shspaymenttype.$valid && (!deviceform.$pristine || deviceform.$submitted)	
									}" >
									<label class="control-label" for="shspaymenttype">Payment Type</label>
									<select type="text" name="shspaymenttype" class="form-control" ng-model="contact.shspaymenttype" required><option>Scratch Card</option></select>
									<p class="help-block" ng-show="deviceform.shspaymenttype.$error.required && (!deviceform.$pristine || deviceform.$submitted)">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shspaymenttype.$error.number && (!deviceform.$pristine || deviceform.$submitted)">Please Select Option</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsownername.$valid && (!deviceform.$pristine || deviceform.$submitted),
										'has-success': deviceform.shsownername.$valid && (!deviceform.$pristine || deviceform.$submitted)	
									}" >
									<label class="control-label" for="shsownername">Device Owner Name</label>
									<input type="text" name="shsownername" class="form-control" ng-model="contact.shsownername" required />
									<p class="help-block" ng-show="deviceform.shsownername.$error.required && (!deviceform.$pristine || deviceform.$submitted)">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsownername.$error.number && (!deviceform.$pristine || deviceform.$submitted)">Please Enter Valid Name</p>
									
								</div> 
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsownermobilenumber.$valid && (!deviceform.$pristine || deviceform.$submitted),
										'has-success': deviceform.shsownermobilenumber.$valid && (!deviceform.$pristine || deviceform.$submitted)	
									}" >
									<label class="control-label" for="shsownermobilenumber">Device Owner Number</label>
									<input type="number" name="shsownermobilenumber" class="form-control" ng-model="contact.shsownermobilenumber" ng-minlength="2" ng-maxlength="8" required />
									<p class="help-block" ng-show="deviceform.shsownermobilenumber.$error.required && (!deviceform.$pristine || deviceform.$submitted)">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsownermobilenumber.$error.number && (!deviceform.$pristine || deviceform.$submitted)">Please Enter Valid Number</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsalternatemobilenumber.$valid && (!deviceform.$pristine || deviceform.$submitted),
										'has-success': deviceform.shsalternatemobilenumber.$valid && (!deviceform.$pristine || deviceform.$submitted)	
									}" >
									<label class="control-label" for="shsalternatemobilenumber">Alternate Mobile Number</label>
									<input type="number" name="shsalternatemobilenumber" class="form-control" ng-model="contact.shsalternatemobilenumber" ng-minlength="2" ng-maxlength="8" required />
									<p class="help-block" ng-show="deviceform.shsalternatemobilenumber.$error.required && (!deviceform.$pristine || deviceform.$submitted)">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsalternatemobilenumber.$error.number && (!deviceform.$pristine || deviceform.$submitted)">Please Enter Valid Number</p>
									
								</div>
								<div class="form-group">
									<button type="submit" name="shssubmit" class="form-control btn btn-primary"> Submit </button>
								</div>

							</form>

							<pre>{{ deviceform | json }}</pre>
						</div>
					</div>
			</div>
		</div>
	</body>
</html>