@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
html,body{
font-family: 'Open Sans', sans-serif;
margin:0;
padding:0;
}
.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
*{
		outline:none;
		box-sizing:border-box;
	}
	a{
		text-decoration:none;
	}
/* Navigation Css Starts */
.logo {
    color: #2ac5fe;
    font-weight: bold;
    padding: 20px;
    font-size: 22px;
    float: left;
}


.logo a {
    color: inherit;
    display: block;
}
.logo b {
    color: #4b4450;
}

.m_container {
    height: 100%;
}

.top_nav {
    height: 70px;
    background: #fff;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.22);
}

.user_details ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
	display: block;
}
.user_details ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
.user_details ul li.logout {
    padding: 0;
}
.user_details ul li.logout a {
    display: inline-block;
}
.user_details ul li.logout a img {
    height: 30px;
}

.user_details {
    float: right;
    padding: 20px;
}
/* Navigation Css Ends */

/* Main Body Css Starts */
.m_section {
    height: calc(100% - 70px);
    overflow: hidden;
}

.left {
    float: left;
    width: 220px;
    height: calc(100vh - 70px);
    background: #2ac5fe;
    color: #fff;
}

.left ul {
    margin: 0;
    padding: 0;
}

.right {
    float: right;
    width: 300px;
    height: calc(100vh - 70px);
    background: #f3f3f3;
}

.center {
    float: left;
    width: calc(100% - 300px);
    height: calc(100vh - 70px);
    overflow: auto;
    display: inline-block;
}
.left ul li a.selected {
    background: rgba(0, 0, 0, 0.15);
}
.left ul li a:hover {
    background: rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease-in;
}
/* Left Navigation Css Starts */
.left ul li a {
    display: block;
    padding: 25px 10px;
    color: #fff;
}

.left ul li a img {
    height: 30px;
    vertical-align: middle;
}

.left ul li a span {
    vertical-align: middle;
    font-size: 19px;
    padding-left: 10px;
}
/* Left Navigation Css Ends */

.r {
    float: right;
    width: calc(100% - 220px);
    height: 100vh;
}
/* Center Body Css Starts */
.c_heading {
    background: #f3f3f3;
    height: 80px;
    padding: 20px;
}

.c_heading a img {
    height: 22px;
}
.c_heading a {
    display: inline-block;
    vertical-align: middle;
}

.c_heading h2 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding-left: 20px;
}
.hub_view {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    overflow: hidden;
}

.h_head {
    text-align: center;
    padding: 40px;
}
.h_head h2 {
    margin: 0;
    padding-top: 35px;
}

.h_head h4 {
    margin: 0;
    padding: 5px;
    color: #777;
}
.h_blocks {
    background: #f7f7f7;
    display: block;
}

.h_b {
    display: table-cell;
    width: 32.3%;
    padding: 40px 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(119, 119, 119, 0.32);
    border-right: 0px;
}

.h_b span {
    color: #777;
}

.h_b h1 {
    margin: 0;
}
.h_t {
    width: 100%;
    display: table;
}
.h_t:first-child .h_b {
    border-bottom: 0;
    border-top: 0;
}

.h_t .h_b:first-child {
    border-left: 0px;
}
.full_center {
    width: 100%;
    display: block;
}

table.a_h_table {
    width: 100%;
    border-spacing: 0;
}

.add_hub {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}

table.a_h_table thead tr th {
    padding: 20px;
    background: #2ac5fe;
    color: #fff;
    font-size: 22px;
    width: 100%;
}

table.a_h_table tbody tr td {
    padding: 30px 30px 10px;
    width: 100%;
    background: #f3f3f3;
}

table.a_h_table tbody tr td span {
    display: block;
    color: #989898;
}

table.a_h_table tbody tr td input {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #777;
    background: transparent;
    font-size: 16px;
}
table.a_h_table tbody tr td select {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #777;
    background: transparent;
}
table.a_h_table thead {
    width: 100%;
}
table.a_h_table tbody tr td.t_submit {
    text-align: center;
    padding: 30px;
}

table.a_h_table tbody tr td.t_submit a {
    width: 100%;
    padding: 25px;
}
/* Center Body Css Starts */


/* Right Body Css Starts */
h2.pay_heading {
    margin: 0px;
    height: 80px;
    line-height: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.09);
}
.pay_body ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pay_body ul li {
    padding: 25px 20px;
    border-bottom: 1px solid #ddd;
}

.pay_body ul li h4 {
    margin: 0;
    padding-bottom: 5px;
}
.pay_btn {
    padding: 25px 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    background: #ddd;
    color: inherit;
    padding: 15px 20px;
    border-radius: 5px;
}

.blue_btn {
    color: #fff;
    background: #2ac5fe;
}
/* Right Body Css Starts */



/* Main Body Css Starts */
/* Toggle Button CSS Starts here */
.b {
  display: block;
}

.toggle {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 100px;
    background-color: #ececec;
    overflow: hidden;
    margin: 20px auto 0;
}
.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

  .check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #4bd863;
  }

  .check:checked ~ .switch {
    right: 2px;
    left: 20px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
  }

.switch {
  position: absolute;
  left: 2px;
  top: 1px;
  bottom: 1px;
  right: 22px;
  background-color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 30px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}
/* Toggle Button CSS Ends here */