@media (max-width:1150px){
.center {
    width: 100%;
    float: none;
    height: auto;
    display: block;
}
.right {
    width: 100%;
    float: none;
    height: auto;
    margin-bottom: 50px;
}
.r {
    overflow: auto;
    /* height: 100%; */
}
.pay_body ul li {
    width: calc(50% - 4px);
    text-align: center;
	    display: inline-block;
}
}

@media (max-width:850px){
	.left {
    float: none;
    width: 100%;
    height: auto;
}
.left ul {
    display: table;
    width: 100%;
}
.left ul li {
    display: table-cell;
}
.r {
    width: 100%;
    height: calc(100% - 80px);
}
.right {
    margin-bottom: 50px;
}
.center {
    height: auto;
    overflow: auto;
}
}

@media (max-width:600px){
.hub_view {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}
.left ul li a {
    padding: 15px 10px;
    text-align: center;
}
.left ul li a img {
    height: 25px;
    vertical-align: middle;
}
.left ul li a span {
    vertical-align: middle;
    font-size: 13px;
    padding-left: 10px;
	padding-top:5px;
}
.m_section {
    width: 100%;
}
.user_details ul li:first-child{
	display:none;
}
.right {
    margin: 30px 0 0;
}
.pay_body ul li {
    width: 100%;
}
.h_b span {
    font-size: 14px;
}
}

@media (max-width:400px){

.left ul {
    display: block;
    width: 100%;
}
.left ul li {
    display: block;
}
}

