@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
html,body{
font-family: 'Open Sans', sans-serif !important;
margin:0;
padding:0;
}
.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
*{
        outline:none !important;
        box-sizing:border-box;
    }
:focus,:active{
	box-shadow:none !important;
}
    a{
        text-decoration:none;
    }
/* Navigation Css Starts */
.logo {
    color: #2ac5fe;
    font-weight: bold;
    font-size: 20px;
    float: left;
}


.logo a {
    color: #4b4450;
    display: block;
}
.logo a strong {
    color: #2ac5fe;
}

.logo a:hover {
    color: initial;
    text-decoration: none;
}
.topnav {
    padding: 20px 0 0;
    margin: 0;
    background: #f7f7f7;
}
.ruser ul li {
    font-size: 20px;
    padding: 0 20px;
}

.ruser ul li a img {
    height: 30px;
}
.ruser ul li a {
    padding: 0;
    line-height: initial;
    padding: 0 10px;
    display: block;
}

.ruser ul li a:hover {
    background: initial;
}
.ruser .navbar {
    margin: 0;
}
#leftnav ul.nav li a:focus{
	    background-color: inherit !important;
}
.innerpageleft {
    padding: 0 !important;
}