@media (max-width:768px){
.vlenav {
    height: auto;
	    position: fixed;
    z-index: 99;
}
.navbar {
    margin-bottom: 0px !important;
}
.pagebody {
    height: 100%;
    overflow: initial;
}
.right{
	    height: calc(100vh - 60px);
    overflow: auto;
}
.user-nav{
	display:none;
}
}
@media (max-width:992px){
.col-md-offset-right-2,.col-md-offset-right-1{
	margin-right:0;
}
.r {
    height: calc(100vh - 60px);
    overflow: auto;
}
.r .pagebody {
    height: 100%;
}
}
@media (max-width:520px){
.tiles {
    width: 100% !important;
}
.tile_blocks {
    padding: 10px 0;
}
}
@media screen and (max-width: 767px){
.table-responsive {
   border: 0px; 
}
.customtable {
    padding-top: 30px;
    padding-bottom: 0;
}

}
